*{
    font-family: 'Roboto', sans-serif;
}

.mi-card {
    background-color: rgb(74, 8, 8);
    color: rgb(53, 11, 34);
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  
  .mi-card-body {
    display: flex;
    justify-content: space-between;
    padding: 15vh;  
  }
  
  .texto-izquierdo {
    text-align: start;
    color: white;
    font-size: 2vh;
  }
  
  .imagen-derecha {
    text-align: center;
    padding-right: 30vh;
  }
  
  .imagen-pequena {
    max-width: 60%; /* Asegura que la imagen no sobrepase su tamaño original */
    max-height: 60%;
  }

  .text-h2{
    font-size: 5.5vh;
    margin-bottom: 20px;
  }

  .text-h3{
    color: rgb(226, 140, 12);
    font-size: 3vh;
    margin-bottom: 20px;
  }